dataset/ppexamples/*/node_modules/
dataset/fuzzcases/*/node_modules/
node_modules/*
node_modules
.DS_Store
PPAEG.wiki
PPAEG.wiki/*
.vscode/*
tmp/*
node-find-undefined
node-find-undefined-old
.idea/
*-db/
.cache/*
.cache
node-find-undefined.zip
error.log
find-undefined-node/isolate-*
dataset/isolate-*
**/isolate-*
**/*-db
.gdb_history
*.pptx


.pyc
*_jalangi_*.js*
.DS_Store
z3.emscripten.js.mem
libz3*
.babelrc
*/cache/
**/expose-**.json
**/expose-**.txt
**/expose-**.log

**/log/**-log.json
**/undefined-props-raw-*.txt
